.names {
  margin-bottom: 40px;
}

.background-image3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.9;
  z-index: -1;
}

.hero-container4 {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
