.search-bar {
  width: 400px;
  height: 40px;
  font-size: 20px;
  box-shadow: aquamarine;
  border-radius: 20px;
}

.search-btn {
  height: 40px;
  margin-left: 15px;
  background-color: #97c092;
  color: white;
  margin-bottom: 170px;
  width: 100px;
  border-radius: 20px;
}

.hero-container3 {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 120.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
.hero-btns2 {
  margin-bottom: 120px;
}
