.background-image2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  z-index: -1;
}

.hello2 {
  background-color: #97c092;
}

.hero-container20 {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 115.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
