.pos {
  margin-top: 20px;
}

.plntTxt {
  font-size: 20px;
  margin: 5em;
}

.info-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.data {
  font-size: 25px;
}

.data-header {
  font-size: 25px;
}

.all-data-display {
  display: flex;
  flex-direction: row;
}

.suntext {
  font-size: 40px;
}

.bigcontainer {
  display: flex;
  flex-direction: row;
}

.leftsection {
  margin: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.graph {
  margin-top: 20px;
}

.rightsection {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  width: 50%;
}

.plantDescription {
  width: 500px;
  height: 300px;
}

.plantpic {
  width: 550px;
  height: 300px;
}

.plantmsg {
}

.tab-container {
  margin-bottom: 100px;
}

.tableAndVars {
  position: relative;
}

.menu {
  align-items: center;
  align-self: center;
}
.outTable {
  /* justify-content: center;
  align-items: center; */
  /* z-index: 9; */
}

.sun {
  width: 70px;
  height: 70px;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
  border-collapse: collapse;
}
tr th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.ab {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.ventCont {
  margin-top: 20px;
  align-self: center;
}
.vent {
}
.toggleVent {
}

.slider1 {
  margin-top: 45px;
  position: relative;
}

.slider1text {
  margin-top: 20px;

  position: absolute;
}
.sliderbar1 {
  width: 300px;
  z-index: 9;
}

.slider2 {
  margin-top: 40px;
}
.slider2text {
}
.sliderbar2 {
  width: 300px;
  z-index: 9;
}

.watercont {
  margin-top: 0px;
}
.watertext {
  margin-top: 10px;
}
.togglewater {
  margin-top: 30px;
}

.mycont {
}
.divData {
  margin-top: 1px;
  margin-left: 30px;
  position: absolute;
}
.picRight {
  float: left;

  margin-right: 50px;
  margin-top: 1px;
  width: 600px;
  height: 500px;
}
.container img,
.container p {
  flex-grow: 0;
}

.container img {
  width: 300px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
}

.container p {
  margin-left: 40%;
  margin-top: -50%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

.propPageTitle {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.but1 {
  margin-left: 50px;
  background-color: #97c092; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.cont {
  margin-left: 50px;
  background-color: #f81515; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.but2 {
  margin-left: 50px;
  background-color: #97c092; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.but3 {
  margin-left: 10px;
  background-color: #97c092; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.cont2 {
  margin-left: 10px;
  background-color: #f81515; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.but4 {
  margin-left: 50px;
  margin-bottom: 20px;
  background-color: #97c092; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.mycaption {
  margin-left: 1760px;
}
.box {
  margin-left: 600px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.one {
  flex: 1;
  font-size: 32px;
}

.two {
  flex: 1;
  font-size: 32px;
}

.three {
  flex: 1;
  font-size: 32px;
}
