.bigcontainer {
  display: flex;
  flex-direction: row;
}

.leftsection {
  margin: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.data {
  font-size: 25px;
}

.data-header {
  font-size: 25px;
}

.info-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.all-data-display {
  display: flex;
  flex-direction: row;
}

.rightsection {
  margin: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.plantDescription {
  width: 500px;
  height: 300px;
}

.plantpic {
  width: 550px;
  height: 300px;
}

.menu {
  align-items: center;
  align-self: center;
}
