.all-items-explore {
  background-color: #97c092;
  display: flex;
  flex-direction: row;
}

.left-div-image-add-to-prop {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 50px;
}

.all-plant-info {
  display: flex;
  flex-direction: row;
}

.plant-name {
  font-size: 50px;
  color: black;
}

.image {
  margin-bottom: 10px;
}

.data {
  margin: 8px;
  font-size: 13px;
}

.add-to-prop-btn {
  background-color: white;
  color: black;
  height: 40px;
  width: 50%;
  border-radius: 20px;
  align-self: center;
}

.right-div {
  margin-top: 40px;
  margin-right: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.plant-info {
  display: flex;
  flex-direction: row;
}

.header {
}
